<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Has Been Changed</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <style>
        .alert{
            display: flex;
            position: relative;
            top: 50%;
        }
    </style>
</head>
<body>


            <div class="alert alert-success">
                Your password has been set. You may go ahead and <a href="{% url 'login' %}" class="text-xl-center">Sign In</a> now.
            </div>


</body>
</html>