<footer class="footer">
    <div class="container">
      <div class="row gap-y align-items-center">
        <!-- Logo -->
        <div class="col-6 col-lg-3"></div>
        <!-- ./Logo -->

        <!-- Social Medias -->
        <div class="col-6 col-lg-9 text-right order-lg-last">
          <div class="social">
            <!--<a class="social-facebook" href="https://www.facebook.com/thethemeio"><i class="fab fa-facebook-square"></i></a>-->
            <a class="social-twitter logo" href="https://twitter.com/_esatbey"><i class="fab fa-twitter"></i></a>
            <a class="social-instagram logo" href="https://www.instagram.com/_esatbey/"><i class="fab fa-instagram"></i></a>
            <a class="social-dribbble logo" href="https://github.com/Quadzal"><i class="fab fa-github"></i></a>
          </div>
        </div>
        <!-- ./Social Medias -->
        
      </div>
    </div>
</footer>