{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand" href="/">{% trans "Home" %}</a>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mt-2 mt-lg-0 ml-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans "Categories" %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for category in categories %}
                        <a class="dropdown-item custom-text-dark" href="/category/{{ category.slug }}">{{ category }}</a>
                    {% empty %}
                        Categories Not Found
                    {% endfor %}
                </div>
            </li>

            
            {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{ request.user.profile.image_url }}" class="dropdown-profile-image rounded-circle">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="{% url 'profile' %}">{% trans "Profile" %}</a>
                        {% if request.user.is_staff %}
                            <a class="dropdown-item" href="/admin">{% trans "Dashboard" %}</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'favourite_posts' %}">{% trans "Favourite Posts" %}</a>
                        <a class="dropdown-item" href="{% url 'favourite_comments' %}">{% trans "Favourite Comments" %}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">{% trans "Logout" %}</a>
                    </div>
                </li>

            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'login' %}">{% trans "Login" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'register' %}">{% trans "Register" %}</a>
                </li>
            {% endif %}

        </ul>
        <form class="form-inline my-2 my-lg-0 ml-3" action="/search/">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="{% trans "Search" %}" aria-label="Search">
            <button class="btn my-2 my-sm-0 custom-search-button" type="submit">{% trans "Search" %}</button>
        </form>
    </div>
</nav>